.jumbotron {
  text-align: center;
  background-color: lightgrey;

  opacity: 1;
}

.container {
  color: #f9f6d6;
}

body {

  opacity: 1;
}

img {
  margin-top: -30px;
  position: absolute;
  opacity: 0.8;
  min-width: 600px;
  height: 1200px;
}

select {
  color: #231102;
}

#row1 {
  /*border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightblue;
  height: 800px;*/
}

.col {
  /*border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgreen;*/
  height: 400px;
}

.alloptions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.options1 {
  margin: 10px;
}

.options2 {
  margin: 10px;
}

#summary2 h3 {
  display: none;
}

#pizza-summary-area {
  display: none;
  /*border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgreen;*/
}

#pizza-summary-area span {
  font-style: bolder;
  font-family: helvetica;
  font-size: 22px;
  color: #37d6e8;
}

#allbuttons {

}

#startover {

}

#no-size {
  font-weight: bolder;
  color: red;
  margin-bottom: 40px;
}
