.jumbotron {
  text-align: center;
  background-color: lightgrey;
  opacity: 1;
}

.container {
  color: #3f290f;
}

body {
  opacity: 1;
}

img {
  margin-top: -30px;
  position: absolute;
  opacity: 0.8;
  min-width: 600px;
  height: 1200px;
}

select {
  color: #3f290f;
}

#row1 {
  /*height: 500px;*/
}

.col {
  border-style: none;
  border-width: 1px;
  border-radius: 20px;
  height: 600px;
  background-color: lightgrey;
  opacity: 0.8;
}

.alloptions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.options1 {
  margin: 10px;
}

.options2 {
  margin: 10px;
}

#summary2 {
  display: none;
  color: #3f290f;
}

#pizza-list-area {
  display: none;
}

ul {
  list-style: none;
}

.pizza-li {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}


#pizza-summary-area span {
  font-style: bolder;
  font-family: helvetica;
  font-size: 22px;
  color: #3f290f;
}

#no-size {
  font-weight: bolder;
  color: red;
  margin-bottom: 40px;
}

#summary3 {
  display: none;
}

#summary3 span {
  font-style: bolder;
  font-family: helvetica;
  font-size: 22px;
  color: #3f290f;
}
