.jumbotron {
  text-align: center;
}

.row {
  /*border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightblue;
  height: 800px;*/
}

.col {
  /*border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgreen;*/
  height: 400px;
}

.alloptions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.options1 {
  margin: 10px;
}

.options2 {
  margin: 10px;
}

#summary2 h3 {
  display: none;
}

#pizza-summary-area {
  display: none;
  border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgreen;
}

#pizza-summary-area span {
  font-style: bold;
  font-family: helvetica;
  font-size: 16px;
  color: red;
}
